extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main 
    main.main
        +alert-success(3000)
        +alert-error(3000)
        // Header
        header.admin-header.d-flex.justify-content-between.align-items-center.mb-3
        h4.mb-0 Tạo tài khoản
        .card.mb-4
        .card-body
            form(action=`/${prefixAdmin}/account/create` method="POST" id="form-create-account" enctype="multipart/form-data")
                .mb-3
                    label.form-label FullName
                    input.form-control(
                        type="text"
                        name="fullName"
                        required
                    )
                .mb-3
                    label.form-label Email
                    input.form-control(
                        type="email"
                        name="email"
                    )
                .mb-3
                    label.form-label Password
                    .input-group-custom(style="position: relative;")
                        input#password-input.form-control(
                            type="password"
                            name="password"
                        )
                        span#toggle-password(style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;")
                            i.fas.fa-eye#eye-icon
                .mb-3
                    label.form-label Số điện thoại
                    input.form-control(
                        type="text" 
                        name="phone"
                    )
                .mb-3
                    label.form-label Trạng thái
                    .flex.align-items-center.gap-3
                        label.form-check-label
                            input.form-check-input(type="radio" name="status" value="active" checked)
                            | Hoạt động
                        label.form-check-label
                            input.form-check-input(type="radio" name="status" value="inactive")
                            | Ngừng hoạt động
                    label.form-label Avartar
                    div(id="preview-img")
                        input.form-control-file(
                            type="file"
                            name="avatar"
                            accept="image/*"
                            id="file-input"
                        )
                        img(src="", alt="" id="img-preview" )
                .mb-3
                    label.form-label Quyền
                    .flex.align-items-center.gap-3
                        label.form-check-label
                            input.form-check-input(type="radio" name="role_id" value="" checked)
                            | Quản trị viên
                        label.form-check-label
                            input.form-check-input(type="radio" name="role_id" value="")
                            | Quản lý nội dung
                button.btn.btn-primary(type="submit") Tạo mới
    script(src="/admin/js/account.js") 