extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main 
    main.main
        +alert-success(3000)
        +alert-error(3000)
        // Header
        header.admin-header.d-flex.justify-content-between.align-items-center.mb-3
        h4.mb-0 Câp nhập công việc
        .card.mb-4
        .card-body
            form(action=`/${prefixAdmin}/job/edit/${job.id}?_method=PATCH` method="POST" id="form-edit-job" enctype="multipart/form-data")
                .mb-3
                    label.form-label Tiêu đề công việc
                    input.form-control(
                        type="text"
                        name="title"
                        value=job.title
                    )
                .mb-3
                    label.form-label Mô tả công việc
                    textarea.form-control(
                        name="description" 
                        rows="5" 
                        value=job.description
                    )
                .mb-3
                    label.form-label Địa điểm làm việc
                    input.form-control(
                        type="text" 
                        name="location"
                        value=job.location
                    )
                .mb-3
                    label.form-label Kinh nghiệm yêu cầu
                    input.form-control(
                        type="text" 
                        name="experience"
                        value=job.experience
                    )
                .mb-3
                    label.form-label Thời gian làm việc
                    .flex.align-items-center.gap-3
                        label.form-check-label
                            input.form-check-input(type="radio" name="type" value="Full-time" checked=job.type=="Full-time"?true:false)
                            | Full-time
                        label.form-check-label
                            input.form-check-input(type="radio" name="type" value="Part-time" checked=job.type=="Part-time"?true:false)
                            | Part-time
                .mb-3
                    label.form-label Mức lương tối thiểu (VNĐ)
                    input.form-control(type="number" name="salaryMin" min="0" value=job.salaryMin)
                .mb-3
                    label.form-label Mức lương tối đa (VNĐ)
                    input.form-control(type="number" name="salaryMax" min="0" value=job.salaryMax)
                .mb-3
                    label.form-label Vị trí
                    input.form-control(type="number" name="position" min="0" placeholder="Tự động tăng" value=job.position) 
                .mb-3
                    label.form-label Thumbnail (Ảnh công việc)
                    div(id="preview-img")
                        input.form-control-file(
                            type="file"
                            name="thumbnail"
                            accept="image/*"
                            id="file-input"
                        )
                        img(src=job.thumbnail alt="" id="img-preview" )

                .mb-3
                    label.form-label Trạng thái
                    .flex.align-items-center.gap-3
                        label.form-check-label
                            input.form-check-input(type="radio" name="status" value="active" checked=job.status=="active"?true:false)
                            | Hoạt động
                        label.form-check-label
                            input.form-check-input(type="radio" name="status" value="Part-time" checked=job.status=="inactive"?true:false)
                            | Ngừng hoạt động
                button.btn.btn-primary(type="submit") Cập nhật

    script(src="/admin/js/job.js") 