.card.w-100.h-100.shadow-sm
  img.card-img-top.job-image(
    src= job.thumbnail || "/images/default-job.png",
    alt= job.title
  )

  .card-body.d-flex.flex-column
    h5.card-title
      a.text-decoration-none(href=`/jobs/${job._id}`)= job.title

    p.mb-1
      strong Địa điểm:
      |  #{job.location}

    p.mb-1
      strong Mức lương:
      |  #{(job.salaryMin/1000000).toLocaleString()}tr - #{(job.salaryMax/1000000).toLocaleString()}tr

    p.mb-1
      strong Hình thức:
      |  #{job.type}

    p.mb-3
      strong Kinh nghiệm:
      |  #{job.experience}

    a.btn.btn-outline-primary.mt-auto#show(
      href=`/jobs/detail/${job.slug}`
    ) Xem chi tiết