aside.sidebar.shadow-sm
    h3.logo Admin
    nav
        a(href=`/${prefixAdmin}/dashboard`  class=['sidebar-item', currentUrl === `/${prefixAdmin}/dashboard` ? 'active' : ''].join(' ')) Tổng Quan
        a(href=`/${prefixAdmin}/job` class=['sidebar-item', currentUrl === `/${prefixAdmin}/job` ? 'active' : ''].join(' ')) Quản lý việc làm
        a(href="#" class="sidebar-item") Cài đặt
        a(href=`/${prefixAdmin}/account`  class=['sidebar-item', currentUrl === `/${prefixAdmin}/account` ? 'active' : ''].join(' ')) Danh sách tài khoản
//- nav.sidebar(class="bg-light border-end")
//-   ul.nav.flex-column
//-     li.nav-item
//-       a.nav-link(href=`/${prefixAdmin}/dashboard`) Dashboard
//-     li.nav-item
//-       a.nav-link(href=`/${prefixAdmin}/job`) Jobs
//-     li.nav-item
//-       a.nav-link(href=`/${prefixAdmin}/account`) Account